@charset "utf-8";

.principal {
    width: 70%;
    height: 1195px;
    margin: 0px auto;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /* border: solid; */

}

.cabecalho {    
    color: rgb(165,0,6); 
    font-weight: bold;
          
}

.bovespa {    
    font-size: 46px;    
}

.itens {
    font-size: 18px;
}

.separadores {
    color: lightgray;
    font-size: 18px;
    
}

.div_1 {
    color: rgb(165,0,6);
    font-weight: bold;
    font-size: 28px;
    /* width: 47%; */
    float: left;
}

.div_1_1 {
    float: left;
}

.div_1_2 {
    float: left;
    padding-left: 30px;
}

.div_2 {    
    font-weight: bold;
    /* width: 47%; */
    float: left;    
}

.div_2_1 {
    float: left;
    color: rgb(255,127,11);
    font-size: 28px;
}

.div_2_1_1 {
    font-size: 18px;
}

.div_2_2 {
    float: left;
    color: rgb(255,127,11);
    font-size: 28px;
    padding-left: 30px;
}

.div_2_3 {
    font-size: 28px;
    color: rgb(89,120,0);
    float: left;
}

.div_2_4 {
    font-size: 28px;
    color: rgb(89,120,0);
    float: left;
    padding-left: 30px;
}

.separador_div_2 {
    color: lightgray;
    font-size: 18px;
    
}

/* NOTÍCIAS */
.div_3 {    
    font-weight: bold;
    /* width: 29%; */
    color: rgb(202,0,0);
    float: left;
    border-top: solid 5px;
    margin-right: 20px;   
}

.div_3_1{
    font-size: 28px; 
    float: left; 
    padding-bottom: 20px; 
}

.div_3_2{
    float: left;   
}

.div_3_3{
    font-size: 14px;    
    padding-top: 10px;
    padding-left: 110px;
}

.div_3_4{
    float: left;
    padding-top: 10px;    
}

.div_3_5{
    font-size: 14px;    
    padding-top: 20px;
    padding-left: 110px;
}

.separador_div_3 {
    font-size: 10px;
    color: lightgray;
}

/* ESPORTES */
.div_4 {    
    float: left;
    font-weight: bold;
    /* width: 29%; */
    color: rgb(92,136,0);
    /* padding-left: 10px; */
    border-top: solid 5px;
    margin-right: 20px;
}

.div_4_1{
    font-size: 28px;
    padding-bottom: 4px;   
}

/* ENTRETENIMENTO */
.div_5 {    
    float: left;
    font-weight: bold;
    /* width: 29%; */
    color: rgb(255,127,0);
    /* padding-left: 10px; */
    border-top: solid 5px; 
}